body{font-family: "Plus Jakarta Sans", sans-serif;

}
.bottom_bar svg {
    height: 31px;
}

  .sort-icon {
        display: inline-block;
        margin-left: 0.5rem;
        /* opacity: 0.8; */
        transition: opacity 0.2s;
        vertical-align: middle;
    }
    th.sortable:hover .sort-icon {
        opacity: 0.6;
    }
    .sort-icon.active {
        opacity: 1;
    }
    th.sortable {
        cursor: pointer;
        user-select: none;
    }
     .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
    }

    .sort-icon.active {
        transform: rotate(180deg);
        }
        /* .sort-icon.active svg pah{fill:#cccc} */